<%=@genre.name%>
<%@movies.each do |m|%>
<%=m.title%>
<%end%>

<h1>Average Rating For All Movies: <%=@average%>></h1>
<h1>Movie with highest rating: <%=@high_movie.title%> with rating of <%=@high_movie.rating%><h1>
